# generated binaries
Distribution/oscam-*
Distribution/list_smargo-*

# backup/swap file for vi
*~
*.swp

# build directories
/build/

# Currently enabled config items
webif/is_defined.txt

# Testing program
tests.bin
tests.bin.debug

# OSCam-Emu files
.vscode
cscrypt/viades.c
cscrypt/viades.h
dre2overcrypt.c
dre2overcrypt.h
via3surenc.c
via3surenc.h
SoftCam.Key
git-svn-diff.sh
oscam-emu.patch
